<div class="dashboard-container">
  <div class="side-nav">

    <label class="label">Sort By</label><br>

    <mat-radio-group class="tp-radio-group" [ngModel]="sortValue" (ngModelChange)="onSort($event)">
      <mat-radio-button class="tp-radio-button" *ngFor="let season of sortTypes" [value]="season.value">
        {{season.name}}
      </mat-radio-button>
    </mat-radio-group>

    <section class="example-section">
      <span class="example-list-section">
        <label class="label">Filter By</label><br>

        <mat-checkbox class="example-margin" [checked]="allComplete" [color]="task.color"
          [indeterminate]="someComplete()" (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          @for (subtask of task.subtasks; track subtask) {
          <li>
            <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color" (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </li>

          }
        </ul>


        <p class="price-label">Price Range</p>
        <div class="price-container">
          <ngx-slider [(ngModel)]="value" [options]="options"></ngx-slider>
          <button (click)="onClickPriceChange()">Go</button>
        </div>


      </span>
    </section>
  </div>

  <div class="product-list" *ngIf="totalItems >0 ;else other_content">
    <span class="header-container">
      <h2 class="title">Products</h2><br>
      <p class="subtitle">Total item found: {{totalItems}}</p>
    </span>

    <div class="row">
      <div class="col" *ngFor="let item of obs | async">
        <mat-card class="product-card" (click)="onCardClick(item)" matRipple>
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>

          </mat-card-header>
          <img mat-card-image src="{{item.thumbnail}}" alt="Photo of a Shiba Inu" height="140px" width="100%">
          <mat-card-content>
            <p>
              Price: ${{item.price}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


</div>

<ng-template #other_content>
  <div class="error-container">
    No Product Found !!!!!!
  </div>
</ng-template>